$azul: #003e85;
$blanco: #ffffff;

@mixin margenesVerticales($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

@mixin margenesHorizontales($left, $right) {
    margin-left: $left;
    margin-right: $right;
}

/* Estilos generales para la pagina*/
.jumbotron {
    background: $azul;
    background: linear-gradient(90deg, rgba(0, 62, 133, 1) 0%, rgba(46, 142, 184, 1) 26%, rgba(69, 204, 222, 1) 70%, rgba(0, 255, 247, 1) 100%);
    color: black;
    margin-top: 50px;
    font-size: 24px;
    margin-bottom: 20px;
}

.footer {
    padding: 10px 10px 0 10px;
    background-color: #212328;
    @include margenesVerticales(10px, 0px);
}


.iconoFooter {
    padding: 15px;
}

.footer-text {
    color: aliceblue;
    font-weight: bold;
}

.main-container {
    background-color: lightblue;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Estilos de los botones*/

.btn {
    background-color: #4FC3F7;
    color: purple;
}

/* del index.html*/

.cardhotel {
    @include margenesHorizontales(20px, 0px);
    @include margenesVerticales(0px, 20px);
    padding: 5px 5px 5px 5px;
    background-color: $azul;
}

.card-img-top {
    height: 220px;
    object-fit: cover;
}


.titulo {
    font-family: Georgia, 'Times New Roman', Times, serif
}



.label-index {
    background-color: $azul;
}

.text-label-index {
    color: $blanco;
}

.text-card-title {
    color: $blanco;
    text-align: center;
    font-weight: bold;
}

/* esto es que ya se guardó enn el main*/